@font-face {
    font-family: TTNormsProBold;
    src: url('TTNormsPro-Bold.eot');
    src: url('TTNormsPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('TTNormsPro-Bold.woff2') format('woff2'),
    url('TTNormsPro-Bold.woff') format('woff'),
    url('TTNormsPro-Bold.ttf') format('truetype'),
    url('TTNormsPro-Bold.svg#TTNormsPro-Bold') format('svg');
    font-weight: bold;
  }

  @font-face {
    font-family: TTNormsPro;
    src: url('TTNormsPro-Regular.eot');
    src: url('TTNormsPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('TTNormsPro-Regular.woff2') format('woff2'),
    url('TTNormsPro-Regular.woff') format('woff'),
    url('TTNormsPro-Regular.ttf') format('truetype'),
    url('TTNormsPro-Regular.svg#TTNormsPro-Regular') format('svg');
    font-weight: normal;
  }